@model IEnumerable<MisAsientos>
@{
    ViewData["Title"] = "Reserva";
}

<div class="text-center">
    <h1 class="display-4"></h1>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Mis reservas</h5>
            <div class="mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Vuelo</th>
                            <th scope="col">Asiento</th>
                            <th scope="col">Status</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@item.IdReserva</th>
                            <td>@item.Origen - @item.Destino</td>
                            <td>@item.NoAsiento</td>

                            @switch (item.IdStatusReserva)
                            {
                                case 1:
                                    <td>
                                        <span class="badge badge-warning">@item.Status</span>
                                    </td>
                                    <td class="d-flex flex-row justify-content-center">
                                        <div>
                                            <a href="@Url.Action("ConfirmarReserva", "Home", new { userId = ViewData["userId"].ToString(), idAsientoVuelo = item.IdAsientoVuelo })" class="btn btn-success"> Confirmar </a>
                                        </div>
                                    </td>
                                    break;

                                case 2:
                                    <td>
                                        <span class="badge badge-success">@item.Status</span>
                                    </td>
                                    <td class="d-flex flex-row justify-content-center">
                                        <div>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#EliminarAsientoModal-@item.IdAsientoVuelo">
                                                Eliminar
                                            </button>

                                            <!-- Modal Ver Vuelo -->
                                            <div class="modal fade" id="EliminarAsientoModal-@item.IdAsientoVuelo" tabindex="-1" aria-labelledby="EliminarAsientoModal-@item.IdAsientoVuelo" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Asiento</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Esta seguro que quiere eliminar el asiento? @item.IdReserva
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                            <a href="@Url.Action("CancelarReserva", "Home", new { userId = ViewData["userId"].ToString(), idReserva = item.IdReserva })" class="btn btn-danger">Si</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    break;
                                case 3:
                                    <td>
                                        <span class="badge badge-danger">@item.Status</span>
                                    </td>
                                    break;
                                case 4:
                                    <td>
                                        <span class="badge badge-secondary">@item.Status</span>
                                    </td>
                                    break;
                                default:
                                    <td>
                                        <span class="badge badge-info">@item.Status</span>
                                    </td>
                                    break;
                            }


                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    @section Scripts{
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $('#EliminarAsientoModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
        </script>
    }

</div>
