@model VueloYAsientos

@{
    ViewData["Title"] = "Reserva";
}

<div class="text-center">
    <h1 class="display-4">Reserva de Viajes</h1>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Viaje</h5>
            <p class="card-text">@Model.Vuelo.Origen - @Model.Vuelo.Destino</p>
            <p class="card-text">Avion:  @Model.Vuelo.Avion</p>
            <p class="card-text">Fecha de Salida: @Model.Vuelo.FechaSalida</p>
            <p class="card-text">Fecha de Entrada: @Model.Vuelo.FechaEntrada</p>
            <p class="card-text">
                Status: 
                @if (Model.Vuelo.IdStatus == "1")
                {
                  <span class="badge badge-success"> @Model.Vuelo.Status </span>
                }
            </p>
        </div>
    </div>

    <div class="card text-center mt-3">
        <div class="card-body">
            <h5 class="card-title">Reserva de lugares</h5>

            @foreach (var item in Model.listadoAsientos)
            {
                @switch (item.IdStatus)
                {
                    case "1": //disponible
                        <span class="d-inline-block" data-toggle="tooltip" title="@item.NombreStatus">
                            <button class="btn btn-success" data-toggle="modal" data-target="#DisponibleModal">@item.NumeroAsiento</button>
                        </span>
                        break;

                    case "2": //reservado
                        <span class="d-inline-block" data-toggle="tooltip" title="@item.NombreStatus">
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#ReservaModal">@item.NumeroAsiento</button>
                        </span>
                        break;

                    case "3": //confirmado
                        <span class="d-inline-block" data-toggle="tooltip" title="@item.NombreStatus">
                            <a href="#" class="btn btn-danger disabled">@item.NumeroAsiento</a>
                        </span>
                        break;

                    case "4": //no disponible para la reserva
                        <span class="d-inline-block" data-toggle="tooltip" title="@item.NombreStatus">
                            <a href="#" class="btn btn-dark disabled">@item.NumeroAsiento</a>
                        </span>
                        break;

                    case "5": //vuelo cancelado
                        <span class="d-inline-block" data-toggle="tooltip" title="@item.NombreStatus">
                            <a href="#" class="btn btn-dark disabled">@item.NumeroAsiento</a>
                        </span>
                        break;

                    default:
                        <span class="d-inline-block" data-toggle="tooltip" title="@item.NombreStatus">
                            <a href="#" class="btn btn-dark disabled">@item.NumeroAsiento</a>
                        </span>
                        break;
                }
            }
        </div>

        <!-- Modal Disponible -->
        <div class="modal fade" id="DisponibleModal" tabindex="-1" aria-labelledby="DisponibleModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reserva de lugar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tiene xx minutos para confirmar.
                        <br />
                        Despues de este tiempo, quedará como disponible.
                        <br />
                        Para confirmar, ir a mis vuelos.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Reserva -->
        <div class="modal fade" id="ReservaModal" tabindex="-1" aria-labelledby="ReservaModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lugar reservado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Lugar se encuentra reservado
                        <br />
                        Desea quedarse en lista de espera?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary">Si</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
        </script>
    }
    
</div>
